{% extends 'base.twig' %}

{# Below block will replace 'title' in the base.twig file #}
{% block title %} 
	<title>About</title>
{% endblock %}


{# Below block will replace 'content' block in the base.twig file #}
{% block content %}

		<div class="container">
		  <h3>About Me</h3>
		  <h4><pre>First Name		:  	Sachin</pre></h4>
		  <h4><pre>Last Name   		:	Kumar</pre></h4>
		  <h4><pre>Email	 		:	sachin376@gmail.com</pre></h4>
		</div>
{% endblock %} 