{% extends 'base.twig' %}

{# Below block will replace 'title' in the base.twig file #}
{% block title %} 
	<title>Forgot Password</title>
{% endblock %}


{# Below block will replace 'content' block in the base.twig file #}
{% block content %}
		<div class="container">
		  <h3>Forgot Password</h3>
		  <p>Forgot Password</p>
		</div>
{% endblock %} 