<html>
<head>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="assets/js/botstrap.min.js"></script>
    <title>{% block title %}{% endblock}</title>
</head>
<body>
    To do - Need to add layout for the Games website !
    Also, add error.twig and main.twig
</body>
</html>